.cabecalho{
    width: 10px;
    height:10px;
    background-color: darkgrey;
    
    }
.primeira-secao{
    width:393px;
    height: 852px;
    background-color: rgb(90, 255, 255);

}














